/minecraft/logs
/minecraft/musicbox
/minecraft/.mixin.out/class/net/minecraft/world/entity/LivingEntity.class
/minecraft/data/fabricDefaultResourcePacks.dat
/minecraft/icon.png
/minecraft/local/kubejs/dev.properties
/minecraft/minemenu/menu.json
/minecraft/patchouli_data.json
/minecraft/rhino.local.properties
/creosote_modpack/
/instance.cfg
/minecraft/resourcepacks/Midway-1.5.zip
/mmc-pack.json
/mrpack/modrinth.index.json
/mrpack/overrides.txt
/minecraft/modernfix
/minecraft/saves
minecraft/usercache.json
minecraft/usernamecache.json
/minecraft/config/jei/world/local
/minecraft/config/jei/world/local
/minecraft/journeymap/data
/minecraft/config/jei/world
/minecraft/config/jei/world
/minecraft/crash-reports
minecraft/journeymap/journeymap.log
/minecraft/cache
/minecraft/config/jei/world
/minecraft/config/jei
/minecraft/data/surveyor
/minecraft/.mixin.out
